@inject IThemeContext themeContext

@{
	var themeName = await themeContext.GetWorkingThemeNameAsync();
	NopHtml.AppendCssFileParts($"~/Themes/{themeName}/Content/css/body-header.css");
	NopHtml.AppendCssFileParts($"~/Themes/{themeName}/Content/css/logo.css");
	NopHtml.AppendCssFileParts($"~/Themes/{themeName}/Content/css/search-box.css");
	NopHtml.AppendCssFileParts($"~/Themes/{themeName}/Content/css/top-menu.css");
	NopHtml.AppendCssFileParts($"~/Themes/{themeName}/Content/css/header-links.css");
	NopHtml.AppendCssFileParts($"~/Themes/{themeName}/Content/css/flyout-shopping-cart.css");
}

<header class="header">
	<a class="skip" href="#main">@T("Header.SkipNavigation.Text")</a>
	
	@await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.HeaderBefore })

	<div class="header-upper">
		<div class="header__selectors">
			@await Component.InvokeAsync(typeof(TaxTypeSelectorViewComponent))
			@await Component.InvokeAsync(typeof(CurrencySelectorViewComponent))
			@await Component.InvokeAsync(typeof(LanguageSelectorViewComponent))
			@await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.HeaderSelectors })
		</div>

		<div class="header-links-wrapper">
			@await Component.InvokeAsync(typeof(HeaderLinksViewComponent))
			@await Component.InvokeAsync(typeof(FlyoutShoppingCartViewComponent))
		</div>
	</div>

	@await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.HeaderMiddle })

	<div class="header-lower">
		@await Component.InvokeAsync(typeof(LogoViewComponent))
		@await Component.InvokeAsync(typeof(SearchBoxViewComponent))
	</div>

	@await Component.InvokeAsync(typeof(TopMenuViewComponent))

	@await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.HeaderAfter })
</header>

<script asp-location="Footer">
	var localized_data = { AjaxCartFailure: "@T("AjaxCart.Failure")" };
	AjaxCart.init(false, '.header-links .cart-qty', '.header-links .wishlist-qty', '#flyout-cart', localized_data);
</script>