<footer class="footer">
	<div class="footer__top">
		@await Html.PartialAsync("TopicColumn1Nav.cshtml")
		@await Html.PartialAsync("TopicColumn2Nav.cshtml")
		@await Html.PartialAsync("TopicColumn3Nav.cshtml")
		<div>
			@await Component.InvokeAsync(typeof(SocialButtonsViewComponent))
			@await Component.InvokeAsync(typeof(NewsletterBoxViewComponent))
		</div>
	</div>
	<div class="footer__bottom">
		@await Html.PartialAsync("Generator.cshtml")
		@await Html.PartialAsync("Copyright.cshtml")
		@await Html.PartialAsync("TaxShippingInfo.cshtml")
	</div>
	@await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.Footer, additionalData = Model })
</footer>