@inject IThemeContext themeContext

@{
	var themeName = await themeContext.GetWorkingThemeNameAsync();
	NopHtml.AppendCssFileParts($"~/Themes/{themeName}/Content/css/body-footer.css");
	NopHtml.AppendCssFileParts($"~/Themes/{themeName}/Content/css/navigation-block.css");
}

<footer class="footer">
	<div class="footer-upper">
		@await Html.PartialAsync("InformationNav.cshtml")
		@await Html.PartialAsync("CustomerServiceNav.cshtml")
		@await Html.PartialAsync("MyAccountNav.cshtml")

		<div>
			@await Component.InvokeAsync(typeof(SocialButtonsViewComponent))
			@await Component.InvokeAsync(typeof(NewsletterBoxViewComponent))
		</div>
	</div>

	<div class="footer-lower">
		@await Html.PartialAsync("Generator.cshtml")
		@await Html.PartialAsync("Copyright.cshtml")
		@await Html.PartialAsync("TaxShippingInfo.cshtml")
		@await Component.InvokeAsync(typeof(StoreThemeSelectorViewComponent))
	</div>

	@await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.Footer, additionalData = Model })
</footer>

<script asp-location="Footer">
	$(function () {
		$('.block .title').on('click', function () {
			var e = window, a = 'inner';
			if (!('innerWidth' in window)) {
				a = 'client';
				e = document.documentElement || document.body;
			}
			var result = { width: e[a + 'Width'], height: e[a + 'Height'] };
			if (result.width < 1001) {
				$(this).siblings('.listbox').slideToggle('slow');
			}
		});
	});
</script>