@if (!Model.HidePoweredByNopCommerce)
{
	<p class="generator">
		Powered by <a href="https://www.nopcommerce.com/" target="_blank" @(Model.IsHomePage ? string.Empty : "rel=nofollow")>nopCommerce</a>
	</p>
}