@model FooterModel

@using Nop.Core
@using Nop.Core.Domain.Tax

@inject IWorkContext workContext
@inject IThemeContext themeContext

@{
	var inclTax = await workContext.GetTaxDisplayTypeAsync() == TaxDisplayType.IncludingTax;
	var themeName = await themeContext.GetWorkingThemeNameAsync();
	NopHtml.AppendCssFileParts($"~/Themes/{themeName}/Content/css/footer-tax-shipping.css");
}

@if (Model.DisplayTaxShippingInfoFooter)
{
	<span class="footer-tax-shipping">
		@T(inclTax ? "Footer.TaxShipping.InclTax" : "Footer.TaxShipping.ExclTax", Url.RouteTopicUrl("shippinginfo"))
	</span>
}