.footer {
	background-color: #eee;

	display: grid;
	align-items: center;
	grid-template-columns: 
		minmax(0, auto) 
		minmax(0, 20px) 
		minmax(min-content, max(1200px))
		minmax(0, 20px) 
		minmax(0, auto);

	& > * {
		grid-column: 3;
	}
}

.footer-upper {
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	border-bottom: 1px solid #ddd;
	padding-block: 40px;
}

.footer-lower {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	gap: 12px;
	font-size: 12px;
	padding-block: 25px;
}