:root {
	.header {
		--cl-neutral-200: hsl(0 0% 25%);
		--cl-neutral-400: hsl(0 0% 34.75%);
		--cl-neutral-700: hsl(0 0% 87%);
		--cl-neutral-800: hsl(0 0% 93%);
		--cl-neutral-900: hsl(0 0% 100%);

		--cl-accent-500: hsl(203 90% 26.75%);
		--cl-accent-600: hsl(203 90% 30%);
		--cl-accent-700: hsl(203 70% 50%);

		--content-column: 61.25rem;
	
		@media (min-width: 85.438rem) {
			--content-column: 75rem;
		}
	}
}

.header {
	position: relative;
	z-index: 10;
	text-align: center;

	display: grid;
	align-items: center;
	grid-template-columns: 
		minmax(0, auto) 
		minmax(0, 1.5rem) 
		minmax(min-content, max(var(--content-column)))
		minmax(0, 1.5rem) 
		minmax(0, auto);

	& > * {
		grid-column: 3;
	}
}

.header-upper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	
	position: relative;
	z-index: 100;
	border-bottom: solid thin var(--cl-neutral-700);
	padding: .5rem 0;
}

.header-lower {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	position: relative;
	z-index: 90;
	padding: 2rem 0;
}

.header-selectors-wrapper {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	gap: .5rem;

	select  {
		color: var(--cl-neutral-400);
	}
}

.language-list {
	max-width: 100%;
	font-size: 0;

	@media (min-width: 1001px) {
		text-align: left;
	}

	li {
		display: inline-block;
		margin: 0 1px;
		vertical-align: middle;
	}
	
	a {
		display: block;
		position: relative;
		width: 24px;
		height: 32px;
		line-height: 0;
	}
	
	img {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;
	}
}

.header-links-wrapper {
	position: relative;
}

.header-links {
	ul {
		display: flex;
		flex-wrap: wrap;
		gap: .75rem;
	}

	a {
		color: var(--cl-neutral-400);
		font-size: .75rem;
		text-transform: uppercase;
		display: block;
		padding: .75rem;

		@media (min-width: 1001px) {
			text-transform: none;
		}

		&:is(.ico-cart) {
			background: url('../images/shopping-bag.png') left center no-repeat #f6f6f6;
		}
		
		&:hover,
		&:focus {
			color: var(--cl-accent-700);
		}
	}
}

.flyout-cart {
	display: none;

	@media (min-width: 1001px) {
		position: absolute;
		top: 100%;
		right: 0;
		z-index: 100;
		width: 300px;
		box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
		background-color: #fff;
	
		&.active {
			display: block;
		}
	}
}

.mini-shopping-cart {
	@media (min-width: 1001px) {
		padding: 12px;
		text-align: left;
		font-size: 12px;

		.count {
			padding: 5px 0 15px;
			color: #444;
		}

		.count a {
			margin: 0 2px;
			font-weight: bold;
			color: #444;
		}

		.items {
			border-top: 1px solid #ddd;
			border-bottom: 1px solid #ddd;
			margin: 0 0 20px;
		}

		.item {
			overflow: hidden;
			padding: 10px 0;
		}

		.picture {
			float: left;
			width: 70px;
			text-align: center;
		}

		.picture a {
			display: block;
			position: relative;
			overflow: hidden;
		}

		.picture a:before {
			content: "";
			display: block;
			padding-top: 100%;
		}

		.picture img {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			margin: auto;
			max-width: 100%;
		}

		.picture+.product {
			margin: 0 0 0 80px;
		}

		.name {
			margin: 0 0 10px;
			font-size: 14px;
		}

		.name a {
			color: #4ab2f1;
		}

		.name a:hover,
		.name a:focus {
			color: #248ece;
		}

		.attributes {
			margin: 5px 0;
			color: #444;
		}

		.totals {
			margin: 0 0 12px;
			font-size: 14px;
		}

		.totals strong {
			font-size: 16px;
			color: #444;
		}

		.buttons {
			margin: 0 0 5px;
		}

		button[type="button"] {
			display: inline-block;
			border: none;
			background-color: #4ab2f1;
			padding: 10px 20px;
			font-size: 12px;
			color: #fff;
			text-transform: uppercase;
		}

		button[type="button"]:hover,
		button[type="button"]:focus {
			background-color: #248ece;
		}
	}
}

.header-menu {
	@media (max-width: 1000px) {
		position: relative;
		z-index: 1;
		width: 90%;
		max-width: 600px;
		margin: 0 auto 40px;
	}

	@media (min-width: 481px) {
		width: 92.5%;
	}

	@media (min-width: 1001px) {
		position: relative;
		z-index: 5;
		width: 980px;
		margin: 0 auto 30px;
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
		padding: 25px 0;
		text-align: center;
	
		&>ul {
			display: block !important;
			font-size: 0;
		}
	
		&>ul.mobile {
			display: none !important;
		}
	
		&>ul>li {
			display: inline-block;
			border-left: 1px solid #ddd;
			padding: 0 15px;
			vertical-align: middle;
		}
	
		&>ul>li:first-child {
			border-left: none;
		}
	
		&>ul>li>a {
			display: block;
			padding: 5px 10px;
			line-height: 20px;
			font-size: 17px;
			color: #555;
			cursor: pointer;
		}
	
		&>ul>li>a:hover,
		&>ul>li>a:focus {
			color: #4ab2f1;
		}
	
		& .sublist {
			display: none;
			position: absolute;
			width: 200px;
			box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
			background-color: #fff;
			padding: 10px 0;
			text-align: left;
		}
	
		& .sublist li {
			position: relative;
		}
	
		& .sublist li a {
			display: block;
			position: relative;
			padding: 10px 20px 10px 30px;
			font-size: 14px;
			color: #444;
		}
	
		& .sublist li a:before {
			content: "";
			position: absolute;
			top: 17px;
			left: 15px;
			width: 5px;
			height: 5px;
			background-color: #ddd;
		}
	
		& .sublist li:hover>a,
		& .sublist li:focus>a {
			background-color: #f6f6f6;
		}
	
		& ul li:hover>.sublist,
		& ul li:focus>.sublist,
		& ul li:focus-within>.sublist {
			display: block;
		}
	
		& .sublist .sublist {
			top: -10px;
			left: 100% !important;
		}
	}

	@media (min-width: 1367px) {
		width: 1200px;
		
		&>ul>li {
			padding: 0 20px;
		}
	
		&>ul>li>a,
		&>ul>li>span {
			font-size: 18px;
		}
	}
}

.top-menu {
	@media (max-width: 1000px) {
		display: none;

		&>li {
			position: relative;
			margin: 1px 0;
			background-color: #f6f6f6;
		}

		&>li>a {
			display: block;
			min-height: 55px;
			padding: 18px;
			font-size: 15px;
			color: #555;
		}

		&>li>a:focus {
			position: relative;
			z-index: 1;
		}

		& .sublist {
			display: none;
			background-color: #fff;
			padding: 5px 0;
		}

		& .sublist li {
			position: relative;
			margin: 1px 0 1px 20px;
		}

		& .sublist li a {
			display: block;
			padding: 15px 18px;
			font-size: 15px;
		}
	}
}

.menu-toggle {
	@media (max-width: 1000px) {
		background: #4ab2f1 url('../images/menu-icon.png') right center no-repeat;
		padding: 15px;
		font-size: 15px;
		font-weight: bold;
		color: #fff;
		text-transform: uppercase;
		cursor: pointer;
	}

	@media (min-width: 1001px) {
		display: none;
	}
}

.sublist-toggle {
	@media (max-width: 1000px) {
		position: absolute;
		top: 0;
		right: 0;
		width: 55px;
		height: 55px;
		border-left: 1px solid #fff;
		background: url('../images/toggle-black.png') center no-repeat;
		padding: 15px;
		font-size: 15px;
		font-weight: bold;
		color: #fff;
		text-transform: uppercase;
		cursor: pointer;
	}

	@media (min-width: 1001px) {
		display: none;
	}
}

.sublist {
	@media (max-width: 1000px) {
		.sublist-toggle {
			height: 49px;
		}
	
		.sublist li {
			background-color: #f6f6f6;
		}
	
		.sublist .sublist li {
			background-color: #fff;
		}
	}
}