.content-box {
	display: grid;
	align-content: start;
	background: var(--cl-neutral-900);
	gap: .75rem;

	@media (min-width: 769px) {
		gap: 1rem;
		background: none;
	}

	h2 {
		font-size: 1.25rem;
		font-weight: normal;
		color: var(--cl-neutral-900);
		margin: 0;
		padding: .5rem 1rem;
		background: var(--cl-accent-600);

		@media (min-width: 769px) {
			color: var(--cl-neutral-200);
			padding: 0;
			background: none;
		}
	}
	
	ul {
		display: grid;
		gap: .75rem;
		margin: 0;
		padding: .5rem 1rem 1rem;

		@media (min-width: 769px) {
			padding: 0;
		}

		li {
			&::marker {
				content: "";
			}

			a {
				color: inherit;
				text-decoration: none;
				display: block;

				&:hover,
				&:focus {
					color: var(--cl-accent-700);
				}

				@media (min-width: 769px) {
					display: inline;
				}
			}
		}
	}
}