.footer-navigation-block {
	ul {
		margin: 0 0 20px;
		padding: 10px 15px;
		background-color: #fff;

		@media (min-width: 769px) {
			background: none;
			padding: 0;

			li {
				padding: 5px 0;
			}
		}

		@media (min-width: 1001px) {
			margin: 0;
		}

		a {
			display: block;
			line-height: 20px;
			padding: 10px 15px;
			
			&:hover,
			&:focus {
				color: #4ab2f1;
			}

			@media (min-width: 769px) {
				display: inline;
				padding: 0;
			}
		}
	}
}