.content-box--social-buttons:is(.content-box) {
	background: none;

	h2 {
		color: hsl(0 0% 25%);
		background: none;
		padding: 0;
	}

	ul {
		display: flex;
		flex-wrap: wrap;
		gap: .5rem;
		padding: 0;

		@media (min-width: 769px) {
			gap: .75rem;
		}

		li {
			a {
				display: block;
				width: 2.375rem;
				height: 2.375rem;
				text-indent: -1000vw;

				&.facebook {
					background: url('../images/social-networks/logo--facebook.svg') no-repeat center / cover;
				}

				&.twitter {
					background: url('../images/social-networks/logo--x.svg') no-repeat center / cover;
				}

				&.youtube {
					background: url('../images/social-networks/logo--youtube.svg') no-repeat center / cover;
				}

				&.instagram {
					background: url('../images/social-networks/logo--instagram.svg') no-repeat center / cover;
				}

				&.rss {
					background: url('../images/social-networks/logo--rss.svg') no-repeat center / cover;
				}
			}
		}
	}
}